* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Clara Antiqua";
  src: url("../fonts/ClaraAntiqua.otf");
}
.gallery-tools__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.gallery-tools__header .header-left {
  display: flex;
  height: fit-content;
}
.gallery-tools__header .header-left .course-info, .gallery-tools__header .header-left .yoobee-info {
  margin-right: 3rem;
}
.gallery-tools__header .header-left .course-info__heading, .gallery-tools__header .header-left .yoobee-info__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
}
.gallery-tools__header .header-left .course-info__subheading, .gallery-tools__header .header-left .yoobee-info__subheading {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #313490;
  margin: 0;
}
.gallery-tools__header .header-right {
  display: flex;
  height: auto;
}
.gallery-tools__header .header-right__btn {
  padding: 0 1rem;
  min-height: 100%;
  margin-left: 1.5rem;
  background: none;
  border: solid 3px #313490;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.gallery-tools__header .header-right__btn:hover {
  background-color: #313490;
  color: white;
}