* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Clara Antiqua";
  src: url("../fonts/ClaraAntiqua.otf");
}
.results__header {
  width: 100%;
  padding: 3vw 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 4vw;
  margin: 0;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results__header {
    padding: 3vw 5vw;
  }
}
@media (max-width: 600px) {
  .results__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4vw 8vw;
  }
}
.results__header .header-left {
  display: flex;
  height: fit-content;
}
@media (max-width: 600px) {
  .results__header .header-left {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 4vw;
  }
}
.results__header .header-left .course-info, .results__header .header-left .yoobee-info {
  margin-right: 3vw;
}
@media (max-width: 600px) {
  .results__header .header-left .course-info, .results__header .header-left .yoobee-info {
    margin-right: 0vw;
    width: 50%;
  }
}
.results__header .header-left .course-info__heading, .results__header .header-left .yoobee-info__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  line-height: 1.2vw;
  white-space: nowrap;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results__header .header-left .course-info__heading, .results__header .header-left .yoobee-info__heading {
    font-size: 1.5vw;
  }
}
@media (max-width: 600px) {
  .results__header .header-left .course-info__heading, .results__header .header-left .yoobee-info__heading {
    font-size: 4vw;
    line-height: 5.2vw;
  }
}
.results__header .header-left .course-info__subheading, .results__header .header-left .yoobee-info__subheading {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 0.8vw;
  color: #313490;
  margin: 0;
  white-space: nowrap;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results__header .header-left .course-info__subheading, .results__header .header-left .yoobee-info__subheading {
    font-size: 1.2vw;
  }
}
@media (max-width: 600px) {
  .results__header .header-left .course-info__subheading, .results__header .header-left .yoobee-info__subheading {
    font-size: 2.5vw;
  }
}
@media (max-width: 600px) {
  .results__header .header-left .course-info {
    margin-right: 4vw;
  }
}
@media (max-width: 600px) {
  .results__header .header-left .yoobee-info {
    margin-left: 4vw;
  }
}
.results__header .header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
  .results__header .header-right {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .results__header .header-right a {
    width: 100%;
  }
}
.results__header .header-right__btn {
  padding: 0.75vw 1vw;
  min-height: 100%;
  margin-left: 1.5vw;
  background: none;
  border: solid 3px #313490;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 0.8vw;
  white-space: nowrap;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results__header .header-right__btn {
    padding: 1vw 1.5vw;
    font-size: 1vw;
  }
}
@media (max-width: 600px) {
  .results__header .header-right__btn {
    width: 90%;
    margin: 0;
    font-size: 2.5vw;
    padding: 3vw 5vw;
  }
}
.results__header .header-right__btn:hover {
  background-color: #313490;
  color: white;
}
@media (max-width: 600px) {
  .results__header .header-right .home {
    margin-right: 4vw;
  }
}
@media (max-width: 600px) {
  .results__header .header-right .gallery {
    margin-left: 4vw;
  }
}

.results {
  height: fit-content;
  padding: 0 8vw;
  padding-bottom: 8vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 9vw 1.5vw 3vw auto;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results {
    height: fit-content;
    padding: 0vw 5vw;
    padding-bottom: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 12vw 1.5vw 3vw auto;
  }
}
@media (max-width: 600px) {
  .results {
    padding: 3vw 8vw;
    display: flex;
    flex-direction: column;
  }
}
.results .heading-container {
  width: 100%;
  display: flex;
  padding-bottom: 2vw;
  grid-column: 1/4;
  grid-row: 1/2;
}
@media (max-width: 600px) {
  .results .heading-container {
    padding-bottom: 0.5vw;
  }
}
.results .heading-container .heading {
  width: fit-content;
  float: left;
  white-space: nowrap;
  padding-right: 2vw;
}
.results .heading-container .heading h1 {
  font-family: "Clara Antiqua", sans-serif;
  font-size: 6vw;
  padding-bottom: none;
}
@media (max-width: 600px) {
  .results .heading-container .heading h1 {
    font-size: 8.4vw;
  }
}
.results .heading-container .heading h3 {
  font-family: "Montserrat", sans-serif;
  color: #313490;
  font-weight: 300;
  font-size: 1.4vw;
}
@media (max-width: 600px) {
  .results .heading-container .heading h3 {
    font-size: 3.5vw;
  }
}
.results .heading-container .line-detail {
  width: 100%;
  float: right;
  border-top: 2px solid #313490;
  border-right: 2px solid #313490;
  margin-top: 0.5vw;
  margin-bottom: 2vw;
}
@media (max-width: 600px) {
  .results .heading-container .line-detail {
    display: none;
  }
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results .heading-container {
    width: 100%;
    display: flex;
    padding-bottom: 2vw;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
.results .blurb {
  grid-column: 1/3;
  grid-row: 2/3;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  padding-right: 2vw;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results .blurb {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1.1vw;
    padding-right: 2vw;
  }
}
@media (max-width: 600px) {
  .results .blurb {
    padding-right: 0;
    font-size: 2.5vw;
  }
}
.results .go-to-gallery {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: center;
}
.results .go-to-gallery h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 1.2vw;
  padding-right: 1vw;
  margin: 0;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results .go-to-gallery h6 {
    font-size: 1.2vw;
  }
}
@media (max-width: 600px) {
  .results .go-to-gallery h6 {
    font-size: 3vw;
    line-height: 3vw;
    padding-right: 2.5vw;
    margin-bottom: 3vw;
  }
}
.results .go-to-gallery .go-to-gallery-btn {
  background: none;
  border: none;
  font-size: 1.2vw;
  line-height: 1.2vw;
  color: #313490;
  white-space: nowrap;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results .go-to-gallery .go-to-gallery-btn {
    font-size: 1.2vw;
  }
}
@media (max-width: 600px) {
  .results .go-to-gallery .go-to-gallery-btn {
    font-size: 3vw;
    line-height: 3vw;
    padding-bottom: 1vw;
    margin-bottom: 3vw;
  }
}
.results-one {
  padding-right: 1.5vw;
  grid-column: 1/2;
  grid-row: 5/6;
}
.results-two {
  padding: 0 1.5vw;
  grid-column: 2/3;
  grid-row: 3/6;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results-two {
    grid-column: 2/3;
    grid-row: 2/8;
  }
}
@media (max-width: 600px) {
  .results-two {
    display: none;
  }
}
.results-three {
  padding-left: 1.5vw;
  grid-column: 3/4;
  grid-row: 2/6;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results-three {
    display: none;
  }
}
@media (max-width: 600px) {
  .results-three {
    display: none;
  }
}
.results .card {
  margin-bottom: 2vw;
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px 10px 3px #e7e7e7;
}
@media (max-width: 600px) {
  .results .card {
    margin-bottom: 5vw;
  }
}
.results .card-body-container {
  display: flex;
  width: 100%;
}
.results .card-body-container .card-body {
  padding: 1vw;
  width: 80%;
}
@media (max-width: 600px) {
  .results .card-body-container .card-body {
    padding: 2vw;
  }
}
.results .card-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results .card-title {
    font-size: 1vw;
  }
}
@media (max-width: 600px) {
  .results .card-title {
    font-size: 4vw;
  }
}
.results .card-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1vw;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .results .card-subtitle {
    font-size: 0.7vw;
  }
}
@media (max-width: 600px) {
  .results .card-subtitle {
    font-size: 2.5vw;
  }
}
.results .card .modal-btn {
  background: none;
  display: flex;
  align-items: flex-start;
  padding: 1vw;
  border: none;
}
@media (max-width: 600px) {
  .results .card .modal-btn {
    padding: 2vw;
  }
}
.results .card .modal-btn .fa-arrow-right-long {
  width: fit-content;
  font-size: 1.4vw;
  color: #313490;
}
@media (max-width: 600px) {
  .results .card .modal-btn .fa-arrow-right-long {
    font-size: 4vw;
  }
}

.info-container {
  width: 90vw;
  margin: 1rem;
}
.info-container h1 {
  font-family: "Clara Antiqua", sans-serif;
  font-size: 6vw;
}
.info-container p {
  font-family: "Montserrat", sans-serif;
}
.info-container .info-body {
  display: flex;
}
.info-container .info-left {
  width: 50%;
}
.info-container .info-right {
  max-height: 30rem;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  object-fit: cover;
  overflow-x: hidden;
}
.info-container .info-img {
  height: 100%;
}

.modal-dialog-scrollable {
  max-width: 92.5vw;
}

.modal-dialog,
.modal-content {
  height: 91%;
}

.modal-body {
  max-height: 100%;
  overflow-y: scroll;
}

.gallery-tools {
  min-height: 100vh;
}
.gallery-tools__header {
  width: 100%;
  padding: 3vw 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 3vw;
}
.gallery-tools__header .header-left {
  display: flex;
  height: fit-content;
}
.gallery-tools__header .header-left .course-info, .gallery-tools__header .header-left .yoobee-info {
  margin-right: 3vw;
}
.gallery-tools__header .header-left .course-info__heading, .gallery-tools__header .header-left .yoobee-info__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  line-height: 1.2vw;
}
.gallery-tools__header .header-left .course-info__subheading, .gallery-tools__header .header-left .yoobee-info__subheading {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 0.8vw;
  color: #313490;
  margin: 0;
}
.gallery-tools__header .header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.gallery-tools__header .header-right__btn {
  padding: 0.75vw 1vw;
  min-height: 100%;
  margin-left: 1.5vw;
  background: none;
  border: solid 3px #313490;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.8vw;
  line-height: 0.8vw;
}
.gallery-tools__header .header-right__btn:hover {
  background-color: #313490;
  color: white;
}
.gallery-tools__main {
  margin: 0;
  padding: 0;
  padding: 0vw 8vw;
  padding-bottom: 5vw;
}
.gallery-tools__main .gallery-tools__container .heading-container {
  width: 100%;
  display: flex;
}
.gallery-tools__main .gallery-tools__container .heading-container .heading {
  width: fit-content;
  float: left;
  white-space: nowrap;
  padding-right: 2vw;
}
.gallery-tools__main .gallery-tools__container .heading-container .heading h1 {
  font-family: "Clara Antiqua", sans-serif;
  font-size: 6vw;
}
.gallery-tools__main .gallery-tools__container .heading-container .line-detail {
  width: 100%;
  float: right;
  border-top: 2px solid #313490;
  border-right: 2px solid #313490;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}
.gallery-tools__main .accordion-container {
  display: flex;
  width: 100%;
  padding: 0;
}
.gallery-tools__main .accordion-container .choice {
  box-sizing: border-box;
  padding: 1vw;
  overflow: hidden;
  float: left;
  align-items: center;
  transition: width 0.2s;
  border-radius: 3px;
}
.gallery-tools__main .accordion-container .expand {
  width: 100%;
}
.gallery-tools__main .accordion-container .small {
  width: 10vw;
  max-height: 35vw;
  margin: 0 1vw;
  background-color: #313490 !important;
}
.gallery-tools__main .accordion-container .small > div {
  opacity: 0;
}
.gallery-tools__main .accordion-container .unset > div > p {
  opacity: 0;
}
.gallery-tools__main .accordion-container .expand > div {
  transition-delay: 200ms;
  opacity: 1;
}
.gallery-tools__main .accordion-container .add {
  margin-left: 0;
}
.gallery-tools__main .accordion-container .delete {
  margin-right: 0;
}
.gallery-tools__main .accordion-container .form-control {
  resize: none;
}
.gallery-tools__main .accordion .add, .gallery-tools__main .accordion .update, .gallery-tools__main .accordion .delete {
  padding-left: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
}
.gallery-tools__main .accordion .form-control {
  border: solid 2px #313490;
  border-radius: 0;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  font-size: 0.8vw;
}
.gallery-tools__main .accordion .add-project-btn, .gallery-tools__main .accordion .update-project-btn, .gallery-tools__main .accordion .delete-project-btn {
  background: #313490;
  color: white;
  font-weight: 700;
  padding: 0.5vw 1vw;
  border: none;
}
.gallery-tools__main .accordion .add-project-btn:hover, .gallery-tools__main .accordion .update-project-btn:hover, .gallery-tools__main .accordion .delete-project-btn:hover {
  cursor: pointer;
  background: none;
  color: #313490;
  border: solid 2px #313490;
}

.footer {
  padding: 4rem 5rem;
  min-height: 15rem;
  background-color: #313490;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .footer {
    padding: 2rem 3rem;
  }
}
.footer__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__top-left h2 {
  font-family: "Clara Antiqua", sans-serif;
  font-size: 6vw;
  font-size: 3rem;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .footer__top-left h2 {
    font-size: 2rem;
  }
}
.footer__top-left h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .footer__top-left h3 {
    font-size: 0.8rem;
  }
}
.footer__top-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.8rem;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .footer__top-right {
    font-size: 0.8rem;
    white-space: nowrap;
  }
}
.footer__top-right a:hover {
  font-weight: 700;
  cursor: pointer;
}
.footer__bottom {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
}
.footer__bottom-left {
  width: fit-content;
}
.footer__bottom-left .course-info {
  padding-right: 4rem;
}
.footer__bottom-left .course-info h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .footer__bottom-left .course-info h4 {
    font-size: 0.8rem;
  }
}
.footer__bottom-left .course-info p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  margin: 0;
  white-space: nowrap;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .footer__bottom-left .course-info p {
    font-size: 0.5rem;
  }
}
.footer__bottom-left .yoobee-info {
  padding-right: 5rem;
  padding-top: 1rem;
}
.footer__bottom-left .yoobee-info h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .footer__bottom-left .yoobee-info h4 {
    font-size: 0.8rem;
  }
}
.footer__bottom-left .yoobee-info p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  margin: 0;
  white-space: nowrap;
}
@media (min-width: 601px) and (max-width: 1023px) {
  .footer__bottom-left .yoobee-info p {
    font-size: 0.5rem;
  }
}
.footer__bottom-right {
  width: 100%;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  margin-bottom: 0.25rem;
}