footer{
  width:100vw;
  height:300px;
  background-color: #313490;
  color:white;
  align-items:center;
  justify-content: center;
  position:relative;
}
.footer-container{
  padding-top:2rem;
  font-family: 'Montserrat';
  padding-left: 3rem;
  position:absolute;

}
.line-image{
  float: right;
  position:absolute;
  align-items:right;
  justify-content:right;
  transform:translateX(80%)

}

.footer-right{
  justify-content:right;
  align-items:right;
  transform:translateY(-120px);
  padding-right: 8rem;
  text-align: right;
  display: inline-block;

 
}
.footer-rightM{
  align-items:right;
  justify-content:right;
  float: right;
  text-align: right;
  padding-right:6rem;
  line-height:1.8rem;
  transform:translateY(-120%)
}
.line-imageM{
    transform:translateX(43%);
  
  
    
} 