.gallery-tools{
    min-height: 100vh;

    &__header{
        width: 100%;
        padding: 3vw 8vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 3vw;
        

        .header-left{

            display: flex;
            height: fit-content;

            .course-info, .yoobee-info{

                margin-right: 3vw;

                &__heading{
                    font-family: $content-font;
                    font-weight: $content-heading-weight;
                    font-size: 1vw;
                    line-height: 1.2vw;
                }

                &__subheading{
                    font-family: $content-font;
                    font-weight: $body-font-weight;
                    font-size: .8vw;
                    line-height: .8vw;
                    color: $purple;
                    margin: 0;
                }
            }
        }

        .header-right{

            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            margin: 0;
            padding: 0;


            &__btn{
                padding: .75vw 1vw;
                min-height: 100%;
                margin-left: 1.5vw;
                background: none;
                border: solid 3px $purple;
                font-family: $content-font;
                font-weight: $body-font-weight;
                font-size: .8vw;
                line-height: .8vw;

                &:hover{
                    background-color: $purple;
                    color: white;
                }
            }
        }
    }


    &__main{
        margin: 0;
        padding: 0;
        padding: 0vw 8vw;
        padding-bottom: 5vw;
    

        .gallery-tools__container{

            .heading-container{
                width: 100%;
                display: flex;
            

                .heading{
                    width: fit-content;
                    float: left;
                    white-space: nowrap;
                    padding-right: 2vw;

                    h1{
                        @include page-heading;
                        // flex-wrap: nowrap;
                    }

                }
                

                .line-detail{
                    width: 100%;
                    float: right;
                    border-top: 2px solid $purple;
                    border-right: 2px solid $purple;
                    margin-top: .5vw;
                    margin-bottom: .5vw;
                }
            }
        }
        
        .accordion{

            &-container{
                display: flex;
                width: 100%;
                padding: 0;

                .choice{
                    // height: auto;
                    box-sizing: border-box;
                    padding: 1vw;
                    overflow: hidden;
                    float: left;
                    align-items: center;
                    transition: width 0.2s;
                    border-radius:3px;
                }
                
                .expand{
                    width :100%;
                }
               
                .small{
                    width: 10vw;
                    max-height: 35vw;
                    margin: 0 1vw;
                    background-color: $purple !important;
                }

                .small>div{
                    opacity: 0;
                }
                
                .unset > div > p{
                    opacity: 0;
                }
                
                .expand > div {
                    transition-delay:  200ms;
                    opacity: 1;
                }

                .add{
                    margin-left: 0;
                }
                .delete{
                    margin-right: 0;
                }

                .form-control{
                    resize: none
                }
            }           


            .add, .update, .delete{
                padding-left: 0;
                font-family: $content-font;
                font-size: 1.2vw;
            }

            .form-control{
                border: solid 2px $purple;
                border-radius: 0;
                margin-top: .5vw;
                margin-bottom: 1vw;
                font-size: 0.8vw;

            }

            .add-project-btn, .update-project-btn, .delete-project-btn{
                
                background: $purple;
                color: white;
                font-weight: $content-heading-weight;
                padding: 0.5vw 1vw;
                border: none;

                &:hover{
                    cursor: pointer;
                    background: none;
                    color: $purple;
                    border: solid 2px $purple;
                }
            }
        }
    }

}