.info-container{
    width: 90vw;
    margin: 1rem;

    h1{
        @include page-heading;
    }

    p{
        font-family: $content-font;
    }

    .info-body{
        display: flex;
    }

    .info-left{
        width: 50%;
    }

    .info-right{
        max-height: 30rem;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        object-fit: cover;
        overflow-x: hidden;
    }

    .info-img{
        height: 100%;
    }
}

.modal-dialog-scrollable{
    max-width: 92.5vw;
}

.modal-dialog,
.modal-content {
    height: 91%;
}

.modal-body {
    max-height: 100%;
    overflow-y: scroll;
}