/* screen - modal */
@import "footer.css";


.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  background-color: var(--white);
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  align-items:center;
  justify-content: center;
  width: 100vw;
  display: flex;
}

.modal .aboutStudent{
  height: 255px;
  left: 90px;
  position: absolute;
  top: 370px;
  width: 599px;
  display: flex;

}

.modal .lorem-ipsum{
  background-color: transparent;
  color: #03030a;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 0px;
  letter-spacing: 0.01px;
  line-height: 26.0px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 600px;
}

.modal .mockup{
  height: 393px;
  left: 737px;
  position: absolute;
  top: 370px;
  width: 603px;
  background-repeat: no-repeat;
  background-size: content-box;
  display: flex;
}

.modal .plant-me{
  height: 53px;
  left: 91px;
  object-fit: cover;
  position: absolute;
  top: 216px;
  width: 371px;
  display: flex;
}

.modal .justine-derrick{
  color: #03030a;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: bold;
  height: 22px;
  left: 91px;
  letter-spacing: 0.01px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 718px;
  width: auto;
}


.modal .footerContent{
  height: 28px;
  left: 92px;
  position: absolute;
  top: 158px;
  width: 100px;
}

.modal footer{
  width:100vw;
  height:300px;
  background-color: #313490;
  color:white;
  position:relative;
  transform: translateY(400px);
}
.modal .footerContainer{
  font-family: 'Montserrat';
  padding-left: 3rem;
  position: relative;
  width:100vw;
  height:300px;
}
.line-image{
  float: right;
  position:absolute;
  align-items:right;
  justify-content:right;
  transform:translateX(80%)

}

.modal .footer-right{
  justify-content:right;
  align-items:right;
  transform:translateY(-120px);
  padding-right: 8rem;
  text-align: right;
  display: inline-block;
 
}

